<!DOCTYPE html>
<html lang="en">
  <!-- head bar will start here  -->
  <%-include(`./header.ejs`) %>
  <!-- head bar will end here  -->
  <body>
    <!-- navigation bar will start here  -->
    <%-include(`./nav.ejs`) %>
    <!-- navigation bar will end here  -->
    <!-- Carousel Start -->

    <%-body %>
    <!--footer bar will start here  -->
    <%-include(`./footer.ejs`) %>
    <!--footer bar will end here  -->
    <!--topback bar will start here  -->
    <%-include(`./backtop.ejs`) %>
    <!--toback  bar will end here  -->

    <!--scriptbar will start here  -->
    <%-include(`./script.ejs`) %>
    <!--scriptbar will end here  -->
  </body>
</html>
